@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    padding: 20px 20px 60px;
    max-width: 1000px;
    margin: 0 auto;
    color: #58585a;
    background-image: url("/background.jpeg");
    background-size: cover;
}

.containertrans{
  width: 100%;
  height:100%;
  background: rgba(245, 245, 245, 0.8);
  padding: 10px;

}

.pageBanner{
  width:100%;
}
.container{
  opacity: 1;
}
h1,h2,h3,h4,h5,a {
  color: #f1982a;
}

.halternate{
  color: #d42462;
}

header > a{
  text-decoration: none;
  font-weight: bold;
}
.headerLogo{
      width: 20%;
      vertical-align:middle;
      margin-right: 20px;
}
  
.headerLeft{
    width:100%;
    margin-right: 10px;
}

.flexwrapper {
    display: flex;
    margin: 0 -10px;
  }
  
.flexLeft {
    flex: 0 0 35%;
    margin: 0 10px;
  }

.flexLeft50{
  flex: 0 0 50%;
  margin: 0 10px;
}  
  
.flexRight {
    flex: 1;
  }

.notopmargin{
  margin-top:0px;
}

.centerForm{
  text-align: center;
}
.contactForm{
  
  display: inline-block;
}
.contactForm > input, button, textarea {
  background-color: white;
  padding:10px;

}

.profile1{
  background-color: oldlace;
}

.profile2{
  background-color: gainsboro;
}

.callbackBorder{
  margin-top: 10px;
  margin-bottom: 10px;
}

code{
  background-color: #eee;
  padding: 5px;
  min-width: 50%;
  display: inline-block;
  font-size: 1rem;
  color: #58585a;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  white-space: pre-wrap;
}

.postImage{
 background-color: whitesmoke;

}

.postImage > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}